<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.geoespol"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="14" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.geoespol.activities.MainActivity"
            android:label="@string/app_name">
            <meta-data android:name="android.support.PARENT_ACTIVITY"
                android:value="com.geoespol.activities.MainActivity"/>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.geoespol.activities.AboutActivity"
            android:configChanges="orientation"
            android:label="@string/about_activity">
        </activity>
         <activity
            android:name="com.geoespol.activities.UserEspolActivity"
            android:configChanges="orientation"
            android:label="@string/login">
        </activity>
        <activity
            android:name="com.geoespol.activities.MapaActivity"
            android:configChanges="orientation"
            android:label="@string/mapa_activity">
        </activity>
        <activity
            android:name="com.geoespol.activities.MainTasksActivity"
            android:configChanges="orientation"
            android:label="@string/main_tasks">
        </activity>
    </application>

</manifest>
